AWSTemplateFormatVersion: '2010-09-09'
Description: 'consul servers'
Parameters:
  Env:
    Type: String
  Subnet:
    Type: AWS::EC2::Subnet::Id
  SecurityGroup:
    Type: 'AWS::EC2::SecurityGroup::Id'
  AMI:
    Type: 'AWS::EC2::Image::Id'
  InstanceType:
    Type: String
  InstanceProfile:
    Type: String
  VPC:
    Type: AWS::EC2::VPC::Id

Resources:
  AsgToConsulInstance: 
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: !Ref InstanceType
      ImageId: !Ref AMI
      IamInstanceProfile: !Ref InstanceProfile
      SubnetId: !Ref Subnet
      BlockDeviceMappings:
      - DeviceName: "/dev/sda1"
        Ebs: 
          VolumeType: "gp3"
          DeleteOnTermination: "true"
          VolumeSize: "1"

      Tags:
        - Key: Name
          Value: !Sub '${Env}-Consul-ASG-To-Consul'
