AWSTemplateFormatVersion: '2010-09-09'
Description: 'consul servers'
Parameters:
  Env:
    Type: String
  VPC:
    Type: AWS::EC2::VPC::Id
  VPCCIDR:
    Type: String
  IpAddresses:
    Type: List<String>

Resources:
  ConsulSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: 'DNS ingress'
      VpcId: !Ref VPC
      SecurityGroupIngress:
      - IpProtocol: udp
        FromPort: 53
        ToPort: 53
        CidrIp: !Ref VPCCIDR
      - IpProtocol: tcp
        FromPort: 53
        ToPort: 53
        CidrIp: !Ref VPCCIDR
      - IpProtocol: tcp
        FromPort: 8500
        ToPort: 8500
        CidrIp: !Ref VPCCIDR
      SecurityGroupEgress:
      - IpProtocol: -1
        CidrIp: 0.0.0.0/0
  ConsulSelfIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref ConsulSecurityGroup
      IpProtocol: -1
      SourceSecurityGroupId: !GetAtt ConsulSecurityGroup.GroupId
Outputs:
  SecurityGroup:
    Value: !Ref ConsulSecurityGroup
