AWSTemplateFormatVersion: '2010-09-09'
Description: 'consul servers'
Parameters:
  Env:
    Type: String
  Subnet:
    Type: AWS::EC2::Subnet::Id
  SecurityGroup:
    Type: 'AWS::EC2::SecurityGroup::Id'
  AMIID:
    Type: 'AWS::SSM::Parameter::Value<AWS::EC2::Image::Id>'
    Default: '/aws/service/ami-amazon-linux-latest/amzn2-ami-hvm-x86_64-gp2'
  InstanceType:
    Type: String
  InstanceProfile:
    Type: String
  VPC:
    Type: AWS::EC2::VPC::Id

Resources:
  ConsulInstance: 
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: !Ref InstanceType
      ImageId: !Ref AMIID
      KeyName: consultest
      IamInstanceProfile: !Ref InstanceProfile
      BlockDeviceMappings:
      - DeviceName: "/dev/xvda"
        Ebs: 
          VolumeType: "gp2"
          DeleteOnTermination: "true"
          VolumeSize: "8"

      NetworkInterfaces: 
        - AssociatePublicIpAddress: "true"
          DeviceIndex: "0"
          GroupSet: 
            - !Ref SSHSecurityGroup
            - !Ref SecurityGroup
          SubnetId: !Ref Subnet
      Tags:
        - Key: Name
          Value: !Sub '${Env}-Consul-tester'
        - Key: consulcloud
          Value: service
        - Key: consulservicename
          Value: instancetester

  SSHSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: 'SSH ingress'
      VpcId: !Ref VPC
      SecurityGroupIngress:
      - IpProtocol: tcp
        FromPort: 22
        ToPort: 22
        CidrIp: 0.0.0.0/0
