AWSTemplateFormatVersion: '2010-09-09'
Description: 'consul servers'
Parameters:
  SourceSecurityGroupId:
    Type: AWS::EC2::SecurityGroup::Id
  DestinationSecurityGroupId:
    Type: AWS::EC2::SecurityGroup::Id
  Port:
    Type: Number
Resources:
  ServiceIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref DestinationSecurityGroupId
      IpProtocol: tcp
      FromPort: !Ref Port
      ToPort: !Ref Port
      SourceSecurityGroupId: !Ref SourceSecurityGroupId
