{
  "server": true,
  "ui": true,
  "ports": {
    "dns": 53
  },
  "client_addr": "0.0.0.0",
  "data_dir": "/usr/local/lib/consul",
  "bind_addr": "{{ GetPrivateInterfaces | include \"network\" \"192.168.1.0/21\" | attr \"address\" }}",
  "datacenter": "eu-west-1",
  "retry_join": [
    "provider=aws region=eu-west-1 tag_key=consulcloud tag_value=consulserver addr_type=private_v4"
  ],
  "bootstrap_expect": 3,
  "recursors": ["169.254.169.253", "8.8.8.8"]
}
